@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

@keyframes spinAndScaleAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.rotate-svg {
  animation: spinAndScaleAnimation 6s linear infinite;
  transform-origin: center;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-indigo-200/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-400;
}